{% extends "layout.html" %}
{% block content %}
    <h1>Activity</h1>
    <div class="row">
        {% for run in runs %}
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">{{ run.year }}</h3>
                    <h5 class="card-title">{{ run.km }} kms</h5>
                    <h5 class="card-title">Total Run Time: {{ run.time }}</h5>
                    <a href="#" class="btn btn-primary">Show me the months</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
